html
{
    height: 100%;
}
body
  {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-image: url("/imgs/indexBackground.jpg");
    min-height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%   ;
    position: relative;

  }
/*.container
{
    position: absolute;
    margin: 0px;
    width: auto;
}*/

.topnav
{
    position: relative;
    background-color: black;
    overflow: hidden;
    
}

.topnav ul
{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
}

.topnav li
{
    display: inline;
    float: left;
}

.topnav li a
{
    display: block;
    padding: 15px;
    background-color: black;
}

.topnav a
{
    float: left;
    color:rgb(245, 244, 244);
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    background-color: black;   
}


.topnav a:hover
{
    background-color:  rgb(247, 241, 241);;
    color: black;
}


.sidenav ul
{
    
    list-style-type: none;
    margin: 0px;
    padding: 30px;
    width: 300px;
    height: 600px;
    font-size: 20;
    text-align: left;
    background-color: black;
}
.sidenav li a 
{
    display: block;
    color:  rgb(247, 241, 241);
    padding: 20px 16px;
    text-decoration: none;
    

}


.sidenav li a:hover
{
    background-color: rgb(247, 241, 241);
    color: black;
}